<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!-- DB CONFIG -->
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url"></property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <!-- NECESARIO EN HIBERNATE 6 -->
        <property name="hibernate.dialect"> org.hibernate.dialect.H2Dialect</property>

        <!-- OPTIONAL -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- ENTITY MAPPINGS -->
        <mapping class="com.lavadero.model.Turno"/>
        <mapping class="com.lavadero.model.Cliente"/>
        <mapping class="com.lavadero.model.Usuario"/>
        <mapping class="com.lavadero.model.Vehiculo"/>
        <mapping class="com.lavadero.model.Empleado"/>

    </session-factory>
</hibernate-configuration>
