#btnEspera{
    -fx-background-color: #F9E900;
    -fx-background-radius: 10px;
}
#btnEspera:hover{
    -fx-opacity: 80%;
}

#btnProceso{
    -fx-background-color: #037EAA;
    -fx-background-radius: 10px;
}
#btnProceso:hover{
    -fx-opacity: 80%;
}

#btnFinalizado{
    -fx-background-color: #4D8B31;
    -fx-background-radius: 10px;
}
#btnFinalizado:hover{
    -fx-opacity: 80%;
}

#btnCancelado{
    -fx-background-color: #F90000;
    -fx-background-radius: 10px;
}
#btnCancelado:hover{
    -fx-opacity: 80%;
}