#btnFiltrar{
-fx-background-color: #4D8B31;
-fx-background-radius: 10px
}

#btnFiltrar:hover{
-fx-background-color: #427929;
}

#btnRegTur{
-fx-border-width: 3px;
-fx-border-radius: 9px;
-fx-border-color:#FFFFFF;
-fx-background-color: #0A1045;
-fx-background-radius: 10px
}

#btnRegTur:hover{
-fx-background-color: #1F255A;
}


#hboxBusqueda{
-fx-background-color: #FFFFFF;
-fx-background-radius: 10px;
}

#txtBuscar{
-fx-background-color: #FFFFFF;
-fx-background-radius: 10px;
}
