@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-VariableFont_wdth,wght.ttf');
}

#apnPrincipal{
-fx-background-color: #0A1045;
}

#pnFondo{
-fx-background-color: #57C4E5;
-fx-background-radius: 10px;
}

#mbtnCuenta{
-fx-background-color: #F9E900;
-fx-background-radius: 20px;
-fx-font-family: "Inconsolata", serif;
}

#mbtnCuenta:hover{
-fx-background-color: #BFB302;
}

#mbtnCuenta.pressed {
    -fx-background-radius: 20px 20px 0px 0px;
}

#mbtnCuenta .arrow{
-fx-background-color: transparent;
-fx-padding: 0;
}

#mItemSesion {
    -fx-background-color: transparent;
}

.context-menu {
-fx-background-color: #F9E900;
-fx-pref-width: 150px;
-fx-background-radius: 0px 0px 20px 20px;
-fx-font-size: 15px;
}

.context-menu:hover{
-fx-background-color: #BFB302;
}

#hboxNav{
-fx-background-color: #FFFFFF;
-fx-background-radius: 20px;
}

#btnPrev{
-fx-background-color: none;
-fx-background-radius: 20px 0px 0px 20px;
}

#btnPrev:hover{
-fx-background-color: #E4E4E4;
}

#btnHome{
-fx-background-color: none;
}

#btnHome:hover{
-fx-background-color: #E4E4E4;
}

#btnNext{
-fx-background-color: none;
-fx-background-radius: 0px 20px 20px 0px;
}

#btnNext:hover{
-fx-background-color: #E4E4E4;
}